<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

    <head>
        <title>Home</title>
    </head>

    <body>
        <div id="tabl">
            <form action="Edit" method="post">
                <div aling="center">
                    <table border="1" cellpadding="6">
                        <caption><h2>Список депозитов:</h2></caption>
                        <tr>
                            <th>ID</th>
                            <th>Баланс</th>
                            <th>Активен</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr th:each="deposit : ${depositsList}">
                            <td th:text="${deposit.getId()}"></td>
                            <td th:text="${deposit.getBalance()}"></td>
                            <td th:text="${deposit.isActive()}"></td>
                            <td><a th:href="@{/deposit/update/{id}(id=${deposit.id})}">Изменить</a></td>
                            <td><a th:href="@{/deposit/delete/{id}(id=${deposit.id})}">Удалить</a></td>
                            <td><a th:href="@{/deposit/active/{id}(id=${deposit.id})}">Активировать/Деактивировать</a></td>
                        </tr>
                    </table>
                </div>
                <br>
                <td><a href="${pageContext.servletContext.contextPath}/../create">Открыть новый депозит</a></td>
            </form>
        </div>
    </body>
</html>